body {
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    height:100vh;
}
.infobox{
    margin: 5% 10%;
    background: rgba(209, 199, 205, 0.2);
    border:1px solid white;
    display:block;
    overflow:auto;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.pic{
    padding: 30px;
}
.profile_pic{
    width:180px;
    border: 1px solid white;
    border-radius: 8px;
}
.infoDiv{
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: "Arial Black";
}
.info{
    display: inline-block;
}
.box {
    width: 100%;
    position: relative;
    min-height: 250px;
    border: 1px solid white;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 20px;
}

.editable {
    border-color: #092756;
    box-shadow: inset 0 0 10px #555;
    background: rgba(209, 199, 205, 0.2);
}

.text {
    outline: none;
    width: inherit;
    min-height: 250px;
    overflow-x: scroll;
    height: inherit;
}

.edit, .save {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px 10px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: -1px 1px 4px rgba(0,0,0,0.5);
}
.info-top{
    padding-top: 0px;
    padding-left: 50px
}
.edit {
    background: #557a11;
    color: #f0f0f0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.save {
    display: none;
    background: #092756;
    color: #f0f0f0;
}

.box:hover .edit {
    opacity: 1;
}
#info-intro::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#info-intro::-webkit-scrollbar
{
    border-radius: 10px;
    width: 10px;
    background-color: #F5F5F5;
}

#info-intro::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}

@media screen and (max-width: 770px) {
    .info-top{
        padding-top: 10px
    }
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader-64x/Preloader_1.gif) center no-repeat #fff;
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
    padding-top: 5px;
}
.searchBtn{
    background-color: transparent;
    border: none;
    height: 40px;
}
.searchBtn:hover {
    background: pink;
}
.searchBar{
    text-align: center;
    top:-20px;
    background: rgba(209, 199, 205, 0.7);
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 70px;
    display: none;
}
.searchBar #search-input{
    width: 60%;
    top:-5px;
}
.searchBar .closeBtn{
    background-color: transparent;
    border: none;
    padding: 0;
    float: right;
}
.searchBar .closeBtn .material-icons{
    padding: 0;
}
.searchBar .option{
    padding-top: 5px;
    color: white;
}
.searchBar .option input{
    margin-left: 10px;
}
.editable{
    background: white;
    color: gray;
}
.confirm-name{
    display: none;
}
.cd-popup-trigger {
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 3em auto;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50em;
    background: #35a785;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}
@media only screen and (min-width: 1170px) {
    .cd-popup-trigger {
        margin: 6em auto;
    }
}

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    top:25%;
}
.cd-popup-container p {
    padding: 1.5em 1em;
    color: black;
    font-size:15px;
}
.cd-popup-container input{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10%;
}
.cd-popup-container .cd-buttons{
    padding-bottom: 5%;
}
.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons button {
    display: block;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    margin:0 5px;
}
.cd-popup-container .cd-buttons .confirmBtn {
    background: #fc7169;
    border-radius: .25em;
    display: inline;
}
.no-touch .cd-popup-container .cd-buttons .confirmBtn:hover {
    background-color: #fc8982;
}
.cd-popup-container .cd-buttons .cancelBtn {
    background: #b6bece;
    border-radius: .25em;
    display: inline;
}
.no-touch .cd-popup-container .cd-buttons .cancelBtn:hover {
    background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}
#ps{
    display: none;
}