<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!--Page title-->
    <title>Book Detail</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/details.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/Rating.css"/>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div>
            <div class="navbar-header">

                <!-- Collapsed -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="height:40px;color: white" href="#">BOOK4U</a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right navigation">
                    <!-- Authentication Links -->
                    <div class="loggedin-div"></div>
                    <!-- endif -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="book">
        <div class="details" id="details" >
            <img  id="cover_img" v-bind:src="cover_image" alt="Book Avatar " class="col-lg-2 col-md-2 col-sm-2">
            <h2 class="col-lg-8 col-md-8 col-sm-8 book-top">{{name}}</h2>
            <p class="col-lg-8 col-md-8 col-sm-8 book-content">ISBN: {{ISBN}}</p>
            <p class="col-lg-8 col-md-8 col-sm-8 book-content">Author: {{Author}}</p>
            <p class="col-lg-8 col-md-8 col-sm-8 book-content">Published By: {{Publish_firm}} on {{Publish_date}}</p>
            <p class="col-lg-8 col-md-8 col-sm-8 book-content">Edition: {{Edition}}</p>
            <div class="col-lg-8 col-md-8 col-sm-8 book-content">Genre:
                <div v-if="Genre==null" style="display: inline">null</div>
                <div v-else style="display: inline">{{Genre}}</div>
            </div>
            <h2 class="col-lg-12 col-md-12 col-sm-12" style="padding-left:25px;">Reviews</h2>
            <div v-for="(review, index) in Reviews" class="col-lg-12 col-md-12 col-sm-12 reviewDiv">
                <a v-bind:id="review.id" class="col-lg-10 col-md-10 col-sm-10 review-link" onclick="reviewAOnClick(this)">
                    <div v-if="review.content=='' " style="display: inline">The user did not write any comment.</div>
                    <div v-else style="display: inline">{{review.content}}</div>
                </a>
                <button v-if="user==review.user" id="delete" class="delete-button" onclick="deletReview(event)" v-bind:data-reviewid="review.id"><image v-bind:data-reviewid="review.id" src="img/delete.png"/></button>
            </div>
            <h2 class="col-lg-6 col-md-6 col-sm-6" style="padding-left:25px;">Add Your Review</h2>
            <div class="col-lg-6 col-md-6 col-sm-6 stars">
                <input class="star star-5" id="star-5" type="radio" name="star" value="5" onclick="getvalue()"/>
                <label class="star star-5" for="star-5" title="Amazing"></label>
                <input class="star star-4" id="star-4" type="radio" name="star" value="4" onclick="getvalue()"/>
                <label class="star star-4" for="star-4" title="Good"></label>
                <input class="star star-3" id="star-3" type="radio" name="star" value="3" onclick="getvalue()"/>
                <label class="star star-3" for="star-3" title="Ok"></label>
                <input class="star star-2" id="star-2" type="radio" name="star" value="2" onclick="getvalue()"/>
                <label class="star star-2" for="star-2" title="Not recommend"></label>
                <input class="star star-1" id="star-1" type="radio" name="star" value="1" onclick="getvalue()"/>
                <label class="star star-1" for="star-1" title="Really bad"></label>
            </div>
            <textarea class="col-lg-12" id="booktextarea" style="background-color:transparent;"></textarea>
            <div class="col-lg-12" style="padding-bottom: 20px"><button class="btn" style="background-color:grey;" onclick="submitReview()">Submit</button></div>
        </div>
    </div>
</div>
</body>
<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    console.log(id);

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    $(function(){
         $(".loggedin-div").load("nav.html");
     });
     
    $.post('http://127.0.0.1:8000/api/getBookByID/',
        {
            'session_key': getCookie('session_key'),
            'id': id
        }).done(bookCallBack).fail(function (a) {
        alert("error occured");
        window.location = 'index.html';
    });

    function bookCallBack(data) {

        console.log(data);
        if (data.status === "success") {
            $(".loggedin-div").show();
            console.log(data.user);
            $("#username").html(data.request_user);
            displayBook(data);
        } else {
            if (data.reason === "session expired") {
                alert("login session timeout, need to login again");
                window.location = 'index.html';
            }
        }

    }

    var book_pic_list = [
        'https://about.canva.com/wp-content/uploads/sites/3/2015/01/creative_bookcover.png',
        'https://about.canva.com/wp-content/uploads/sites/3/2015/01/children_bookcover.png',
        'https://marketplace.canva.com/MAB___U-clw/1/0/thumbnail_large/canva-yellow-lemon-children-book-cover-MAB___U-clw.jpg',
        'https://spark.adobe.com/images/landing/examples/how-to-book-cover.jpg',
        'https://marketplace.canva.com/MACSXEOzaeQ/1/0/thumbnail_large/canva-orange-and-dark-purple-triangular-modern-architecture-book-cover-MACSXEOzaeQ.jpg',
        'http://www.creativindie.com/wp-content/uploads/2013/10/Enchantment-Book-Cover-Best-Seller1.jpg'
    ];

    function displayBook(book) {
        //vue.js

        var book = new Vue({
            el: '#details',
            data: {
                cover_image: book.cover_image,
                name: book.book_name,
                ISBN: book.book_ISBN,
                Author: book.book_author,
                Publish_firm: book.book_publish_firm,
                Publish_date: book.book_publish_date,
                Edition: book.book_edition,
                Genre: book.book_category,
                Reviews: book.reviews,
                user:book.request_user
            }
        });
//        var books_div = $(".details");
//		var card = '<img src="' + book.cover_image + '" alt="Book Avatar " class="col-lg-2">';
//        var card = '<img src="' + book_pic_list[Math.floor(Math.random() * book_pic_list.length)] + '" alt="Book Avatar " class="col-lg-2">';
//        card += '<h2 class="col-lg-10 book-top">';
//        card += book.book_name + '</h2>';
//        card += '<p class="col-lg-10 book-content">ISBN: ' + book.book_ISBN + '</p>';
//        card += '<p class="col-lg-10 book-content">Author: ' + book.book_author + '</p>';
//        card += '<p class="col-lg-10 book-content">Published by: ' + book.book_publish_firm + ' on ' + book.book_publish_date + '</p>';
//        card += '<p class="col-lg-10 book-content">Edition: ' + book.book_edition + '</p>';
//        card += '<p class="col-lg-10 book-content">Genre: ' + book.book_category + '</p>';
//        card += '<h2 class="col-lg-12" style="padding-left:25px;">Reviews</h2>';
//        for (var i = 0; i < book.reviews.length; i++) {
//            card += '<a class="col-lg-12 review-link" id="' + book.reviews[i].id + '"onclick="reviewAOnClick(this)">' + book.reviews[i].content + '</a>'
//        }
//        card += '<h2 class="col-lg-6" style="padding-left:25px;">Add Your Review</h2>';
//        card += '            <div class="col-lg-6 stars">\n' +
//            '                <input class="star star-5" id="star-5" type="radio" name="star" value="5" onclick="getvalue()"/>\n' +
//            '                <label class="star star-5" for="star-5" title="Amazing"></label>\n' +
//            '                <input class="star star-4" id="star-4" type="radio" name="star" value="4" onclick="getvalue()"/>\n' +
//            '                <label class="star star-4" for="star-4" title="Good"></label>\n' +
//            '                <input class="star star-3" id="star-3" type="radio" name="star" value="3" onclick="getvalue()"/>\n' +
//            '                <label class="star star-3" for="star-3" title="Ok"></label>\n' +
//            '                <input class="star star-2" id="star-2" type="radio" name="star" value="2" onclick="getvalue()"/>\n' +
//            '                <label class="star star-2" for="star-2" title="Not recommend"></label>\n' +
//            '                <input class="star star-1" id="star-1" type="radio" name="star" value="1" onclick="getvalue()"/>\n' +
//            '                <label class="star star-1" for="star-1" title="Really bad"></label>\n' +
//            '            </div>';
//        card += '<textarea class="col-lg-12" id="booktextarea" style="background-color:transparent;"></textarea>';
//        card += '<div class="col-lg-12"><button class="btn" style="background-color:grey;">Submit</button></div>';
//        books_div.append(card);
//        $(".btn").click(submitReview);
    }

    function deletReview(e){

            var reviewid= e.target.getAttribute("data-reviewid");
            console.log(reviewid);
            $.post('http://127.0.0.1:8000/api/deleteReviewByID/',
                {
                    'session_key': getCookie('session_key'),
                    'id': reviewid
                }).done(deleteReviewCallBack).fail(function (a) {
                console.log("delete review error");
            });

    }

    function deleteReviewCallBack(data) {
        console.log(data);
        if (data.status === "success") {
            location.reload();
        }
    }

    function submitReview() {
        if(getvalue()>=1){
             $.post('http://127.0.0.1:8000/api/addReview/',
            {
                'session_key': getCookie('session_key'),
                'BookID': id,
                'content': $("#booktextarea").val(),
                'rating': getvalue()
            }).done(submitReviewCallBack).fail(function (a) {
            console.log("submit review error");
        });
        }else{
            alert("You must at least rate this book!");
        }

    }

    function submitReviewCallBack(data) {
        console.log(data);
        if (data.status === "success") {
            location.reload();
        }
    }

</script>
<script type="text/javascript">
    function getvalue() {
        for (i = 0; i < document.getElementsByClassName("star").length; i++) {
            if (document.getElementsByClassName("star")[i].checked == true) {
                var rate = document.getElementsByClassName("star")[i].value;
                console.log(rate);
                return rate;
            }
        }
    }

    function reviewAOnClick(obj) {
        window.location = 'review-details.html?id=' + obj.id;
    }

</script>
</html>