<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Page title-->
    <title>Books4U Main</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="js/main.js" charset="utf-8" type="text/javascript"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-static-top" style="margin-bottom: 0">
        <div>
            <div class="navbar-header">
                <!-- Collapsed -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" style="height:40px;color: white" href="main.html">BOOK4U</a>
                <a class="navbar-brand" style="height:40px;color: white" href="addbookinfo.html">add new book</a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right navigation">
                    <!-- Authentication Links -->
                    <!--&lt;!&ndash; if user is not logged in &ndash;&gt;-->
                    <!--<div class="loggedout-div">-->
                    <!--<li data-toggle="collapse"><a>Login</a></li>-->
                    <!--<li data-toggle="collapse"><a>Register</a></li>-->
                    <!--</div>-->
                    <!-- else -->
                    <!-- <div class="loggedin-div">
                        <li><a href="" class="user-dropdown">Hi!
                            <div id="username" style="display: inline-block">Username</div>
                            <span class="caret"></span></a>
                            <ul>
                                <li data-toggle="collapse"><a href="profile.html" class="profile">Profile</a></li>
                                <li data-toggle="collapse"><a href="login.html" class="logout">Logout</a></li>
                            </ul>
                        </li>
                    </div> -->
                    <li>
                        <button class="searchBtn" id="searchBtn"><i class="material-icons md-light">search</i></button>
                    </li>
                    <li>
                        <div class="loggedin-div"></div>
                    </li>
                    <!-- endif -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="searchBar">
        <div class="col-md-12">
            <input id="search-input" type="text"/>
            <button id="searchLoad" onclick="searchBook(event)">Search</button>
            <button class="closeBtn" id="closeBtn"><i class="material-icons md-light">close</i></button>
        </div>
        <div class="col-md-12 option">
            Search By:
            <input id="isbn" type="radio" name="tab" value="isbn" checked/>
            ISBN
            <input id="author" type="radio" name="tab" value="author" />
            AUTHOR
            <input id="firm" type="radio" name="tab" value="firm"/>
            PUBLISH FIRM
        </div>
    </div>
    <div class="se-pre-con"></div>
    <div class="book-cards" id="card-list">
        <div v-if="books.length>0">
            <div v-for="book in books">
                <div class="card" onclick="card_on_click(this)" v-bind:id="book.id">

                    <img class="bookcover" height="550" width="150" v-bind:src="book.cover_image" alt="No image"/>
                    <div class="card-container">
                        <h4><b>{{book.name}}</b></h4>
                        <p>{{book.author}}</p>
                        <p>Rate: {{book.rating}}</p>
                        <p>Edition: {{book.edition}}</p>
                        <p>Published by {{book.publish_firm}} on {{book.publish_date}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
    function card_on_click(obj) {
        console.log(obj);
        // alert(obj.id);
        window.location = 'book-details.html?id=' + obj.id;
    }
    document.getElementById("searchBtn").onclick = function() {
        $(".searchBar").show();
    };
    document.getElementById("closeBtn").onclick = function() {
        $(".searchBar").hide();
    };
    function searchBook(e) {
        if(document.getElementById('isbn').checked){
//            $.post(serverIP+'/api/getAllBooks/',
//                {
//                    'session_key': getCookie('session_key')
//                }).done(b_cb).fail(function (a) {
//                window.location = 'index.html';
//            });
        }
    }
</script>
</html> 

