<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Page title-->
    <title>Books4U Main</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div>
            <div class="navbar-header">
                <!-- Collapsed -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" style="height:40px;color: white" href="#">BOOK4U</a>
                <a class="navbar-brand" style="height:40px;color: white" href="addbookinfo.html">add new book</a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right navigation">
                    <!-- Authentication Links -->
                    <!--&lt;!&ndash; if user is not logged in &ndash;&gt;-->
                    <!--<div class="loggedout-div">-->
                    <!--<li data-toggle="collapse"><a>Login</a></li>-->
                    <!--<li data-toggle="collapse"><a>Register</a></li>-->
                    <!--</div>-->
                    <!-- else -->
                    <!-- <div class="loggedin-div">
                        <li><a href="" class="user-dropdown">Hi!
                            <div id="username" style="display: inline-block">Username</div>
                            <span class="caret"></span></a>
                            <ul>
                                <li data-toggle="collapse"><a href="profile.html" class="profile">Profile</a></li>
                                <li data-toggle="collapse"><a href="login.html" class="logout">Logout</a></li>
                            </ul>
                        </li>
                    </div> -->
                    <div class ="loggedin-div"></div>
                    <!-- endif -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="se-pre-con"></div>
    <div class="book-cards" id="card-list">
        <div v-if="books.length>0">
                <div v-for="book in books">
                        <div class="card" onclick="card_on_click(this)" v-bind:id="book.id">
        
                                <img class="bookcover" height="550" width="150" v-bind:src="book.cover_image" alt="No image"/>
                                <div class="card-container">
                                        <h4><b>{{book.name}}</b></h4>
                                        <p>{{book.author}}</p>
                                        <p>Rate: {{book.rating}}</p>
                                        <p>Edition: {{book.edition}}</p>
                                        <p>Published by {{book.publish_firm}} on {{book.publish_date}}</p>
                                </div>    
                        </div>   
                </div>
        </div>
        
    </div>
</div>
</body>
<script>
    function logout()
    {
    	setCookie("","", 10);
    	window.location = 'login.html';
    }
    
    function setCookie(cname, cvalue, sec) {
        var d = new Date();
        d.setTime(d.getTime() + (sec * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        console.log("cookie", document.cookie)
    }
     $(function(){
         $(".loggedin-div").load("nav.html");
     });
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $.post('http://127.0.0.1:8000/api/getAllBooks/',
        {
            'session_key': getCookie('session_key')
        }).done(b_cb).fail(function (a) {
        window.location = 'index.html';
    });

    function b_cb(data) {
        // console.log(data);
        if (data.status === "success") {
            $(".loggedin-div").show();
            console.log(data.user);
            // $("#username").html(data.user);
            generateAllCard(data.books);
            $(".se-pre-con").fadeOut("slow");;

        } else {
            if (data.reason === "session expired") {
                alert("login session timeout, need to login again");
                window.location = 'index.html';
            }
        }

    }

    function generateAllCard(book_list) {
        var cardList= new Vue({
            el: "#card-list",
            data: {
                books: book_list
            }
        })
    }

    var book_pic_list = [
        'https://about.canva.com/wp-content/uploads/sites/3/2015/01/creative_bookcover.png',
        'https://about.canva.com/wp-content/uploads/sites/3/2015/01/children_bookcover.png',
        'https://marketplace.canva.com/MAB___U-clw/1/0/thumbnail_large/canva-yellow-lemon-children-book-cover-MAB___U-clw.jpg',
        'https://spark.adobe.com/images/landing/examples/how-to-book-cover.jpg',
        'https://marketplace.canva.com/MACSXEOzaeQ/1/0/thumbnail_large/canva-orange-and-dark-purple-triangular-modern-architecture-book-cover-MACSXEOzaeQ.jpg',
        'http://www.creativindie.com/wp-content/uploads/2013/10/Enchantment-Book-Cover-Best-Seller1.jpg'
    ];

    function card_on_click(obj) {
        console.log(obj);
        // alert(obj.id);
        window.location = 'book-details.html?id=' + obj.id;
    }

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</html> 

