<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>-->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Page title-->
    <title>Review</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="css/review-details.css"/>
    <link rel="stylesheet" type="text/css" href="css/Rating.css"/>
    <script src="js/review-detail.js"></script>
    <script src="js/serverIP.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-static-top">
        <div>
            <div class="navbar-header">

                <!-- Collapsed -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="height:40px;color: white" href="main.html">BOOK4U</a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right navigation">
                    <!-- Authentication Links -->
                    <!-- if user is not logged in -->
                    <!-- <div class="loggedout-div">
                        <li data-toggle="collapse"><a>Login</a></li>
                        <li data-toggle="collapse"><a>Register</a></li>
                    </div> -->
                    <!-- else -->
                    <li>
                        <div class="loggedin-div"></div>
                    </li>
                    <!-- endif -->
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="se-pre-con"></div>
<div class="infobox1" id="detail">
    <div class="col-lg-12 reviewDiv" style="padding-top: 50px">
        <div class="col-lg-9 col-md-9">
            <div class="infoDiv">Book Name:{{Bookname}}
                <div class="info" id="info-bookname"></div>
            </div>
            <div class="infoDiv">
                <div class="stars">
                    <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                    <label class="star star-5" for="star-5" title="Amazing"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                    <label class="star star-4" for="star-4" title="Good"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                    <label class="star star-3" for="star-3" title="Ok"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                    <label class="star star-2" for="star-2" title="Not recommend"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                    <label class="star star-1" for="star-1" title="Really bad"></label>
                </div>
            </div>
            <div class="info" id="info-user" style="padding:10px;">Written by:{{username}}</div>
        </div>
        <div class="col-lg-12 col-md-12 infoDiv" style="padding-left: 25px">Content:</div>
        <div class="col-lg-12 col-md-12 box review-not-by-user" style="margin-top: 20px">
            <div class="info text" id="info-review2">{{Reviewcontent}}
            </div>
        </div>
        <div class="infoDiv col-lg-12 col-md-12">Comment:
            <div v-for="comment in Comments" style="padding:10px;" v-bind:data-user="comment.user">{{comment.user}}:
                <div id="commentContent" style="display: inline">{{comment.content}}</div>
                <button v-if="request_user==comment.user" id="edit" class="editBtn" v-on:click="editComment($event)" style="background-color: transparent; border: none" title="Edit"><image src="img/edit.png" style="height: 20px"/></button>
                <button id="reply" class="replyBtn" onclick="replyComment(event)" style="background-color: transparent; border: none" title="Reply"><image src="img/reply.png" style="height: 20px"/></button>
                <button id="confirm-edit" class="btn btn-primary" style="display: none" v-on:click="confirmEdit($event)" v-bind:data-commentid="comment.id">confirm</button>
                <div v-if="(comment.modified && request_user==comment.user)" style="font-size: 10px;" id="comment_modified">
                      This comment has been modified.
                </div>

            </div>
        </div>


        <div class="infoDiv col-lg-12 col-md-12">Add Comment:</div>
        <div class="col-lg-12 col-md-12">
            <button type="button" id="cancel-reply">Cancel Reply</button>
        </div>
        <div>
            <textarea name="comment" id="comment" rows="2" cols="120" style="font-family:sans-serif;"></textarea>
        </div>
        <div class="col-lg-12 col-md-12">
            <button type="submit" class="btn" onclick="post()"> Post</button>
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="button" class="btn" value="Clear" onclick="remove()">
            <div style="float:right;right:1em;color:silver;margin:0.4em; font-size:120%" id="charCounter">Limit: 400 characters</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var url_string = window.location.href;
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    console.log(id);
    var userCom='';

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function displayReview(review) {
        //vue.js
        var Review = new Vue({
            el: '#detail',
            data: {
                Bookname:review.book_name,
                Reviewcontent: review.review_content,
                username:review.review_user,
		        Comments:review.comments,
                request_user: review.request_user
            },
            methods:{
                editComment: function(e){
                    console.log(e.target.parentNode.parentNode.childNodes);
                    var content =e.target.parentNode.parentNode.childNodes.item(1);
                    $(content).addClass('editable');
                    $(content).attr('contenteditable', 'true');
                    $(content).css("background-color","white");
                    $(content).css("display","block");
                    $(content).css("color","grey");
                    $(e.target.parentNode).hide();
                    $(e.target.parentNode.parentNode.childNodes.item(5)).css("display","none");
                    $(e.target.parentNode.parentNode.childNodes.item(7)).css("display","block");
                },
                confirmEdit: function(e){
                    var newC = e.target.parentNode.childNodes.item(1);
                    var commentid = e.target.getAttribute("data-commentid");
                    console.log(newC.innerText.length);
                    if (newC.innerText.length > 400){ // If longer than 400 unicode char.
                        alert("Keep your comments shorter than 400 characters");
                        return;
                    }
                    if (newC.innerText.length == 0){ // If comment is null.
                        alert("Comment cannot be empty");
                        return;
                    }
                    $(e.target.parentNode.childNodes.item(5)).hide();
                    $(newC).removeClass('editable');
                    $(newC).css("background-color","transparent");
                    $(newC).css("display","inline");
                    $(newC).css("color","white");
                    $(e.target.parentNode.childNodes.item(3)).show();
                    $.post(serverIP+'/api/edit_comment/',
                        {
                            'content': newC.innerText,
                            'session_key': getCookie('session_key'),
                            'id': commentid,
                        }).done(editCommentCallback).fail(function (a) {
                        console.log("edit review error");
                    });
                }
            }
        });
        document.getElementsByClassName("star-" + review.review_rating)[0].checked = true;
    }
    //set radio btn non-clickable
    $(':radio:not(:checked)').attr('disabled', true);

    function remove() {
        var context = document.getElementById('comment');
        context.value = "";
    }

    function post() {

        var comment = document.getElementById('comment');
        console.log(comment.value.length);
        if (comment.value.length > 400){ // If longer than 400 unicode char.
            alert("Keep your comments shorter than 400 characters");
            return;
        }
       if(comment.value == ''){
            alert("There is no comment");
        }
        else if(comment.value.length===(userCom.length+2)&&userCom.length!==0){
           alert("There is no comment");
       }
        else if (comment.value !== ''&&userCom.length===0) {
            $.post(serverIP+'/api/addComment/',
                {
                    'content': comment.value,
                    'session_key': getCookie('session_key'),
                    'id': id
                }
                , commentCallBack);
        }
        else{
           $.post(serverIP+'/api/addComment/',
               {
                   'content': comment.value,
                   'session_key': getCookie('session_key'),
                   'id': id,
               }
               , commentCallBack);
       }
    }

    function commentCallBack(data) {
        console.log(data);
        if (data.status == "success") {
            location.reload();
        } else {
            $("textarea#comment").val('');
        }
    }

    // Click on comment to edit
    function editComment(comment){
        var cid = "#"+comment.id;
        $(cid).before(
            '<div><textarea id="edit" rows="1" cols="120" style="font-family:sans-serif;"></textarea></div>'
        )
        $(cid).fadeOut(75);

        // Click anywhere outside comment list to save comment
        $(window).click(function(){
            var newC = document.getElementById('edit');
            if (newC.value.length > 400){ // If longer than 400 unicode char.
                alert("Keep your comments shorter than 400 characters");
                return;
            }

            $.post(serverIP+'/api/edit_comment/',
                {
                    'content': newC.value,
                    'session_key': getCookie('session_key'),
                    'id': comment.id
                }
                , editCommentCallback);

        })

        $(".comment-list").click(function(e){
            e.stopPropagation();
        })

    }

    function editCommentCallback(data){
        if (data.status == "success") {
            location.reload();
        } else {
            alert("Comment fail to update");
            window.setTimeout(location.reload(),800);
        }
    }

    $("#comment").keyup(function(){
        var char_cnt = 400 - this.value.length;
        $("#charCounter").html(char_cnt + " remaining");
    })

    function replyComment(comment) {
        var commentUser = comment.target.parentNode.parentNode.attributes.item(0).value;
        userCom = comment.target.parentNode.parentNode.attributes.item(0).value;
        var content = document.getElementById('comment');
        if(document.getElementById('comment').value==""){
            $('#cancel-reply').show();
            document.getElementById('comment').value += '@'+commentUser+':'
            $('#cancel-reply').click(function () {
                $('#cancel-reply').hide();
                userCom='';
                document.getElementById('comment').value='';
            });
        }
        else if(content.value.length===userCom.length+2){
            alert("You can only reply to one user!");
        }
        else {
            alert("Please clear your comment before reply");
        }

    }
</script>
</html>

</body>
</html>